<div nz-row>
  <h2 nz-col [nzSpan]="18">超超超超链接</h2>
  <div nz-col [nzSpan]="6" class="tar">
    <button nz-button [nzType]="'primary'" (click)="add()">新增</button>
  </div>
</div>
<table class="w article-table" border="1">
  <tr *ngFor="let subList of list">
    <td *ngFor="let s of subList">
      <ng-container *ngIf="s">
        <a *ngIf="s.url" [href]="s.url" target="_bank">{{s.title}}</a>
        <a *ngIf="!s.url" (click)="viewInfo(s)">{{s.title}}</a>
      </ng-container>
    </td>
  </tr>
</table>
