<div class="main-page">
  <div class="main-header">
    <span class="title">Angular示例</span>
    <a (click)="logout()">退出</a>
  </div>
  <ul class="main-nav">
    <li *ngFor="let n of menuTree" (click)="changeNav(n)" class="main-nav-li" [class.active]="n === crtNav">
      {{n.origin.name}}
      <div class="border-bottom"></div>
    </li>
  </ul>
  <div class="main-body">
    <div class="main-side">
      <ul nz-menu class="main-menu-list" [nzMode]="'inline'" appScrollbar>
        <ng-container *ngFor="let m of crtNav?.children">
          <li *ngIf="m.children && m.children.length"
              class="main-menu-li-1"
              nz-submenu
              [nzOpen]="m.expand"
          >
            <span title>
              <i class="main-menu-li-i anticon" [ngClass]="'anticon-' + m.origin.iconcls"></i>
              <span [title]="m.origin.name">{{m.origin.name}}</span>
            </span>
            <ul>
              <ng-container *ngFor="let c of m.children">
                <li *ngIf="!(c.children && c.children.length)"
                    class="main-menu-li-2"
                    nz-menu-item
                    [nzSelected]="c.isActive"
                    (click)="onClickMenuItem(c)"
                >
                  <span>
                    <span class="menu-text" [title]="c.origin.name">{{c.origin.name}}</span>
                  </span>
                </li>
              </ng-container>
            </ul>
          </li>
          <li *ngIf="!(m.children && m.children.length)"
              nz-menu-item
              class="main-menu-li-1"
              [nzSelected]="m.isActive"
              (click)="onClickMenuItem(m)"
          >
            <span>
              <i class="main-menu-li-i anticon" [ngClass]="'anticon-' + m.origin.iconcls"></i>
              <span [title]="m.origin.name">{{m.origin.name}}</span>
            </span>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="main-content">
      <nz-breadcrumb class="mb10i">
        <nz-breadcrumb-item *ngFor="let p of crtPathList;last as l;">
          <span *ngIf="l">{{p.title || p.name}}</span>
          <a *ngIf="!l" (click)="onClickBread(p)">{{p.title || p.name}}</a>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

