<div>
  <h1>对list-item的理解</h1>
  <div>
    <a class="list-item">使用了display: list-item;的元素前面会出现项目符号</a>
  </div>
  <h1>一柱擎天</h1>
  <div>
    <table class="block-table">
      <tr>
        <td>这是第一列a这是第一列a这是第一列a这是第一列a</td>
        <td>第二列使用了english， do you know english 吗</td>
        <td>第二列使用了english， do you know english 吗</td>
      </tr>
    </table>
  </div>
  <h1>分栏布局</h1>
  <div class="flex-box oh">
    <div class="col col-left">
      左侧
    </div>
    <div class="col col-right">
      右侧
    </div>
  </div>
  <h1>使用css实现加号</h1>
  <div>
    <a class="plus"></a>
  </div>
</div>
