<div [class]="treeBoxCls" appScrollbar>
  <nz-tree
    #nzTree
    [(ngModel)]="menus"
    [nzCheckable]="checkable"
    [nzDefaultExpandedKeys]="expandKeys"
    [nzDefaultCheckedKeys]="checkedKeys"
    (nzCheckBoxChange)="checkBoxChange()"
    (nzClick)="clickNode($event)"
  >
    <ng-container *ngIf="isCustom">
      <ng-template #contextTemplate>
        <ul nz-menu nzInDropDown>
          <li nz-menu-item (click)="selectDropdown('delete')">删除</li>
          <li nz-menu-item (click)="selectDropdown('addSub')">新建子文件夹</li>
        </ul>
      </ng-template>
      <ng-template #nzTreeTemplate let-node>
        <span (contextmenu)="contextMenu($event, contextTemplate)">{{node.title}}</span>
      </ng-template>
    </ng-container>
  </nz-tree>
</div>
